*
    font-family "Proxima Nova"

@import "blocks/*"
 
 .search_input{
   background-color:gray;
 }

 .save-search {
  margin-left: 30px;
  margin-top: 40px;
  display: inline-block;
 }

 .colorr{
   background-color:yellow;
 }