* {
  font-family: "Proxima Nova";
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
.search-form {
  margin-top: 30px;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
.search_input {
  background-color: #f00;
}
.save-search {
  margin-left: 30px;
  margin-top: 40px;
  display: inline-block;
}
